
// .wp-block-column-is-layout-flow {
//     display: flex;
//     align-items: center;
// }

.wp-container-core-buttons-layout-1 {
    justify-content: end !important;
}

.is-layout-flex {
    margin: 0 0 0px 0 !important;
}

.has-custom-content-position {
    padding-bottom: 0 !important;
}
.size-full {
    margin: 0 !important;
}
.is-layout-constrained {
    padding: 0 !important;
}