@import "../variable/_variable.scss";

// .wp-block-column-is-layout-flow {
//     display: flex;
//     align-items: center;
// }
.navigation-menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 85px;
    li {
        a {
            text-decoration: none;
            color: #000;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
	        font-weight: 400;
            padding: 15px;
            &:hover {
              border-bottom: 8px solid #1747e7;
            }
        }
    }
}
// .wp-container-core-buttons-layout-1 {
//     margin-top: 80px ;
// }
.is-layout-flex {
    margin: 0 0 0px 0 !important;
}

.has-custom-content-position {
    padding-bottom: 0 !important;
}
.size-full {
    margin: 0 !important;
}
.is-layout-constrained {
    padding: 0 !important;
}
.wp-block-image {
    position: relative;
    right: -68px;
}