
.secret{
    margin-top: 100px;
    @include max-1199 {
        margin-top: 70px;
    }
    @include max-991 {
        margin: 50px 0 50px 0;
    }
    @include max-767 {
        margin: 0 0 50px 0;
    }
    &__inner{
        position: relative;
        .row{
            flex-wrap: nowrap;
            align-items: center;
            @include max-767 {
                flex-wrap: wrap;
            }
            h2 {
                font-size: 81.61px;
                line-height: 75px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 800;
                margin-bottom: 62px !important;
                @include max-1199 {
                    font-size: 70px;
                    line-height: 76px;
                    margin-bottom: 50px !important;
                }
                @include max-991 {
                    font-size: 60px;
                    line-height: 66px;
                    margin:0 0 40px 0 !important;
                }
                @include max-767 {
                    font-size: 45px;
                    line-height: 50px;
                    text-align: center;
                    br {
                        display: none;
                    }
                }
                @include max-575 {
                    font-size: 35px;
                    line-height: 40px;
                }
               }
               .secret-img {
                right: -100px;
                @include max-767 {
                    display: none;
                }
               }
        }
    }
}