@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "MYRIADPRO-REGULAR";
  src: "../../../../fonts/myriad-pro/MYRIADPRO-REGULAR.woff";
}
@font-face {
  font-family: "MYRIADPRO-BOLD";
  src: "../../../../fonts/myriad-pro/MYRIADPRO-BOLD.woff";
}
@font-face {
  font-family: "poppins";
  src: "../../../../fonts/Poppins-Bold.ttf";
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.footer {
  padding: 150px 0;
  background-color: black;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .footer {
    padding: 125px 0;
  }
}
@media screen and (max-width: 991px) {
  .footer {
    padding: 75px 0;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 50px 0;
  }
}
@media screen and (max-width: 575px) {
  .footer {
    padding: 40px 0;
  }
}
.footer_inner {
  margin: 0;
}
.footer_inner h2 {
  font-size: 35px;
  line-height: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin-bottom: 35px;
}
.footer_inner ul li {
  margin: 5px 0;
}
.footer_inner ul li a {
  -webkit-text-decoration: underline #f0f0f0;
          text-decoration: underline #f0f0f0;
  padding: 5px 0;
  font-size: 20px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.footer::after {
  content: url("./../img/footer-bottom.png");
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
}
@media screen and (max-width: 991px) {
  .footer::after {
    display: none;
  }
}

.wp-block-column {
  flex-basis: unset !important;
  flex-grow: unset !important;
}

.navigation {
  margin-top: 65px;
}
.navigation-top-menu {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .navigation-top-menu {
    flex-direction: row-reverse;
  }
}
.navigation-menu {
  list-style: none;
}
.navigation-menu li a span {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 15px;
  margin: 0 20px;
}
@media screen and (max-width: 1199px) {
  .navigation-menu li a span {
    padding: 5px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 991px) {
  .navigation-menu li a span {
    padding: 8px;
    margin: 0 0px;
  }
}
.navigation-menu li a span:hover {
  border-bottom: 8px solid #1747e7;
}
@media screen and (max-width: 600px) {
  .navigation-button .button {
    display: none;
  }
}
.navigation-button .button a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: 2px solid transparent;
  padding: 12px 40px;
}
@media screen and (max-width: 767px) {
  .navigation-button .button a {
    padding: 12px 30px;
  }
}
.navigation-button .button a:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.has-modal-open {
  max-width: 300px;
  animation: none !important;
  transition: all 500ms;
}

.secret {
  margin-top: 100px;
}
@media screen and (max-width: 1199px) {
  .secret {
    margin-top: 70px;
  }
}
@media screen and (max-width: 991px) {
  .secret {
    margin: 50px 0 50px 0;
  }
}
@media screen and (max-width: 767px) {
  .secret {
    margin: 0 0 50px 0;
  }
}
.secret__inner {
  position: relative;
}
.secret__inner .row {
  flex-wrap: nowrap;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .secret__inner .row {
    flex-wrap: wrap;
  }
}
.secret__inner .row h2 {
  font-size: 81.61px;
  line-height: 75px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin-bottom: 62px !important;
}
@media screen and (max-width: 1199px) {
  .secret__inner .row h2 {
    font-size: 70px;
    line-height: 76px;
    margin-bottom: 50px !important;
  }
}
@media screen and (max-width: 991px) {
  .secret__inner .row h2 {
    font-size: 60px;
    line-height: 66px;
    margin: 0 0 40px 0 !important;
  }
  .secret__inner .row h2 br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .secret__inner .row h2 {
    font-size: 45px;
    line-height: 50px;
  }
  .secret__inner .row h2 br {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .secret__inner .row h2 {
    font-size: 35px;
    line-height: 40px;
    text-align: center;
  }
}
.secret__inner .row .secret-img {
  margin: 0;
  position: relative;
  right: -120px;
}
@media screen and (max-width: 991px) {
  .secret__inner .row .secret-img {
    display: none;
  }
}

@font-face {
  font-family: "MYRIADPRO-REGULAR";
  src: "../../../../fonts/myriad-pro/MYRIADPRO-REGULAR.woff";
}
@font-face {
  font-family: "MYRIADPRO-BOLD";
  src: "../../../../fonts/myriad-pro/MYRIADPRO-BOLD.woff";
}
@font-face {
  font-family: "poppins";
  src: "../../../../fonts/Poppins-Bold.ttf";
}
.contact-form {
  margin: 100px 0;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .contact-form {
    margin: 75px 0;
  }
}
@media screen and (max-width: 991px) {
  .contact-form {
    margin: 50px 0;
  }
}
.contact-form_First_heading {
  display: flex;
  justify-content: center;
  width: 100%;
}
.contact-form_First_heading__First-name {
  width: 47%;
}
.contact-form_First_heading__First-name p input {
  font-size: 16px;
  color: #b1b1b1;
  font-family: "Open sans", "sans serif";
  font-weight: 600;
  width: 87%;
  padding: 20px 0 20px 50px;
  border: 2px solid #b1b1b1;
  border-radius: 8px;
  background-color: #f7f7f7;
}
@media screen and (max-width: 991px) {
  .contact-form_First_heading__First-name p input {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .contact-form_First_heading__First-name p input {
    width: 87%;
    padding: 10px 0 10px 20px;
  }
}
.contact-form_First_heading_Last-name {
  width: 47%;
}
.contact-form_First_heading_Last-name p input {
  font-size: 16px;
  color: #b1b1b1;
  font-family: "Open sans", "sans serif";
  font-weight: 600;
  width: 87%;
  padding: 20px 0 20px 50px;
  border: 2px solid #b1b1b1;
  border-radius: 8px;
  background-color: #f7f7f7;
  margin-bottom: 25px;
}
@media screen and (max-width: 991px) {
  .contact-form_First_heading_Last-name p input {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .contact-form_First_heading_Last-name p input {
    width: 87%;
    padding: 10px 0 10px 20px;
  }
}
.contact-form__Email-Subject p input {
  width: 88%;
  padding: 20px 0 20px 50px;
  border: 2px solid #b1b1b1;
  border-radius: 8px;
  background-color: #f7f7f7;
  margin-bottom: 25px;
  font-size: 16px;
  color: #b1b1b1;
  font-family: "Open sans", "sans serif";
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  .contact-form__Email-Subject p input {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .contact-form__Email-Subject p input {
    width: 88%;
    padding: 10px 0 10px 20px;
  }
}
.contact-form__Your-message p span textarea {
  width: 88%;
  border: 2px solid #b1b1b1;
  border-radius: 8px;
  background-color: #f7f7f7;
  padding: 20px 0 20px 50px;
  color: #b1b1b1;
  font-size: 16px;
  font-family: "Open sans", "sans serif";
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  .contact-form__Your-message p span textarea {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .contact-form__Your-message p span textarea {
    width: 82%;
  }
}
.contact-form__Submit-Email p button {
  font-size: 17px;
  padding: 15px 150px;
  color: #fff;
  background-color: #2746e6;
  font-family: "Open sans", "Sans Serif";
  font-weight: 800;
  border-radius: 7px;
  border: 2px solid transparent;
  margin-top: 80px;
  cursor: pointer;
}
.contact-form__Submit-Email p button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid black;
}
@media screen and (max-width: 1199px) {
  .contact-form__Submit-Email p button {
    margin-top: 50px;
  }
}
@media screen and (max-width: 991px) {
  .contact-form__Submit-Email p button {
    margin-top: 35px;
  }
}
@media screen and (max-width: 767px) {
  .contact-form__Submit-Email p button {
    margin-top: 25px;
  }
}
.contact-form__inner .row h2 {
  font-size: 50px;
  line-height: 55px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin-bottom: 55px;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .contact-form__inner .row h2 {
    font-size: 45px;
    line-height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .contact-form__inner .row h2 {
    font-size: 35px;
    line-height: 40px;
  }
}

.step-service {
  margin-top: 100px;
  padding: 130px 0 !important;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .step-service {
    margin-top: 75px;
    padding: 100px !important;
  }
}
@media screen and (max-width: 991px) {
  .step-service {
    margin-top: 50px;
    padding: 75px !important;
  }
}
@media screen and (max-width: 767px) {
  .step-service {
    margin-top: 35px;
    padding: 35px !important;
  }
}
.step-service__inner {
  position: relative;
}
.step-service__inner .row {
  flex-wrap: nowrap;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .step-service__inner .row {
    flex-wrap: wrap;
  }
}
.step-service__inner .row h2 {
  font-size: 76px;
  line-height: 80px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin: 0 !important;
  padding: 20px 0 !important;
  border-bottom: 7px solid #fff;
}
@media screen and (max-width: 1199px) {
  .step-service__inner .row h2 {
    font-size: 65px;
    line-height: 70px;
  }
}
@media screen and (max-width: 991px) {
  .step-service__inner .row h2 {
    font-size: 45px;
    line-height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .step-service__inner .row h2 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media screen and (max-width: 575px) {
  .step-service__inner .row h2 {
    font-size: 30px;
    line-height: 35px;
  }
}
.step-service__inner .row p {
  font-size: 16px;
  line-height: 23px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  padding: 35px 0 !important;
}
.step-service__inner .step-pending {
  padding: 0 50px !important;
}
@media screen and (max-width: 991px) {
  .step-service__inner .step-pending {
    padding: 0 25px !important;
  }
}
@media screen and (max-width: 767px) {
  .step-service__inner .step-pending {
    padding: 0 !important;
  }
}
.step-service::before {
  content: url("./../img/step-section-top.png");
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 991px) {
  .step-service::before {
    display: none;
  }
}
.step-service::after {
  content: url("./../img/step-section-bottom.png");
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 991px) {
  .step-service::after {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */