.footer {
    background-color: black;
    &_inner {
        padding: 165px 0;
    }
 }
//  ul {
//      li {
//          margin: 10px 0 !important;
//          a {
//            text-decoration: underline !important;
//            padding: 10px 0 !important;
//            font-size: 20px;
//            line-height: 26px;
//            font-family: 'Open Sans', sans-serif;
//  	      font-weight: 500;
//          }
//      }
//  } 
 .footer_inner__links {
     h2 {
         font-size: 35px;
         line-height: 40px;
         font-family: 'Open Sans', sans-serif;
         font-weight: 800;
     }
 }