/**
 *  This file contains all the CSS of the secret section.
 *  walletup block theme
 */

.secret {
    margin-top: 100px;

    @include max-1199 {
        margin-top: 70px;
    }

    @include max-991 {
        margin: 50px 0 50px 0;
    }

    @include max-767 {
        margin: 0 0 50px 0;
    }

    &__inner {
        position: relative;

        .row {
            flex-wrap: nowrap;
            align-items: center;

            @include max-767 {
                flex-wrap: wrap;
            }

            h2 {
                font-size: 81.61px;
                line-height: 75px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 800;
                margin-bottom: 62px ;

                @include max-1199 {
                    font-size: 70px;
                    line-height: 76px;
                    margin-bottom: 50px ;
                }

                @include max-991 {
                    font-size: 60px;
                    line-height: 66px;
                    margin: 0 0 40px 0 ;

                    br {
                        display: none;
                    }
                }

                @include max-767 {
                    font-size: 45px;
                    line-height: 50px;

                    br {
                        display: none;
                    }
                }

                @include max-575 {
                    font-size: 35px;
                    line-height: 40px;
                    text-align: center;
                }

                strong {
                    color: #00c6ad;
                    font-size: 81.61px;
                    line-height: 75px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 800;

                    @include max-1199 {
                        font-size: 70px;
                        line-height: 76px;
                    }

                    @include max-991 {
                        font-size: 60px;
                        line-height: 66px;

                        br {
                            display: none;
                        }
                    }

                    @include max-767 {
                        font-size: 45px;
                        line-height: 50px;
                    }
                    @include max-425 {
                        font-size: 40px;
                        line-height: 45px;
                    }
                }
            }

            .secret-img {
                margin: 0;
                position: relative;
                right: -120px;

                @include max-991 {
                    display: none;
                }
            }
        }
    }
}