
.step-service{
    margin-top: 100px;
    position: relative;
    &__inner{
        position: relative;
        .row{
            flex-wrap: nowrap;
            align-items: center;
            @include max-767 {
                flex-wrap: wrap;
            }
            h2 {
                font-size: 76px;
                line-height: 80px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 800;
                margin: 0 !important;
                padding: 20px 0 !important ;
                border-bottom: 7px solid #fff;
                @include max-1199 {
                    font-size: 65px;
                    line-height: 60px;
                }
                @include max-991 {
                    font-size: 55px;
                    line-height: 60px;
                }
                @include max-767 {
                    font-size: 45px;
                    line-height: 50px;
                }
                @include max-575 {
                    font-size: 35px;
                    line-height: 40px;
                }
               }
               p {
                font-size: 16px;
                line-height: 23px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                padding: 35px 0 !important;
               }
               
               .step-pending {
                padding: 0 50px !important;
               }
        }
    }
    &::before {
        content: url('./../../img/step-section-top.png');
        position: absolute;
        top: 0;
        right: 0;
    }
}