/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "MYRIADPRO-REGULAR";
  src: "../../../../fonts/myriad-pro/MYRIADPRO-REGULAR.woff";
}
@font-face {
  font-family: "MYRIADPRO-BOLD";
  src: "../../../../fonts/myriad-pro/MYRIADPRO-BOLD.woff";
}
@font-face {
  font-family: "poppins";
  src: "../../../../fonts/Poppins-Bold.ttf";
}
.testimonial {
  position: relative;
}
.testimonial__inner {
  margin: 295px 0;
}
@media screen and (max-width: 991px) {
  .testimonial__inner {
    margin: 100px 0;
  }
}
@media screen and (max-width: 767px) {
  .testimonial__inner {
    margin: 50px 0;
  }
}
.testimonial__inner h2 {
  font-size: 76.42px;
  line-height: 70px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin: 0 0 50px 0;
  text-align: center;
}
.testimonial__inner h2 span {
  color: #00c6ad;
}
@media screen and (max-width: 1199px) {
  .testimonial__inner h2 {
    font-size: 55px;
    line-height: 60px;
  }
}
@media screen and (max-width: 991px) {
  .testimonial__inner h2 {
    font-size: 40px;
    line-height: 45px;
    margin: 0 0 30px 0;
  }
}
@media screen and (max-width: 767px) {
  .testimonial__inner h2 {
    text-align: center;
    margin: 0 0 20px 0;
  }
  .testimonial__inner h2 br {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .testimonial__inner h2 {
    font-size: 35px;
    line-height: 40px;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .testimonial__inner h2 {
    font-size: 32px;
    line-height: 37px;
  }
}
.testimonial__inner i p {
  font-size: 27px;
  line-height: 33px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 25px 0 35px 0;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .testimonial__inner i p {
    font-size: 20px;
    line-height: 26px;
    margin: 15px 0 25px 0;
  }
}
@media screen and (max-width: 575px) {
  .testimonial__inner i p {
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    padding: 0 20px;
  }
}
.testimonial__inner p {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 0 290px;
}
@media screen and (max-width: 1199px) {
  .testimonial__inner p {
    padding: 0 150px;
  }
}
@media screen and (max-width: 991px) {
  .testimonial__inner p {
    font-size: 14px;
    line-height: 20px;
    padding: 0 100px;
  }
}
@media screen and (max-width: 767px) {
  .testimonial__inner p {
    padding: 0 50px;
  }
}
@media screen and (max-width: 575px) {
  .testimonial__inner p {
    font-size: 12px;
    line-height: 18px;
  }
}
.testimonial::before {
  content: url("./../../../../assets/img/testimonials-top.png");
  position: absolute;
  top: -4.3%;
  right: 0;
  z-index: -99;
}
@media screen and (max-width: 991px) {
  .testimonial::before {
    display: none;
  }
}
.testimonial::after {
  content: url("./../../../../assets/img/testimonials-bottom.png");
  position: absolute;
  bottom: 45%;
  left: 0;
  width: auto;
}
@media screen and (max-width: 991px) {
  .testimonial::after {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */