<!-- wp:template-part {"slug":"header","theme":"Walletup_theme"} /-->

<!-- wp:create-block/home-hero-section -->
<section id="home-hero" class="wp-block-create-block-home-hero-section"><div class="home-hero"><div class="container p-0"><div class="home-hero__inner"><div class="row"><div class="col"><div class="home-hero__inner_heading"><h1>Improve your<br> financial<br>management</h1></div></div></div></div></div></div></section>
<!-- /wp:create-block/home-hero-section -->

<!-- wp:cover {"dimRatio":50,"customOverlayColor":"#141414","minHeight":294,"minHeightUnit":"px","contentPosition":"top center","isDark":false,"align":"center","style":{"spacing":{"padding":{"top":"5vw","right":"5vw","bottom":"5vw","left":"5vw"},"margin":{"top":"0"}},"typography":{"fontSize":"0px"}}} -->
<div class="wp-block-cover aligncenter is-light has-custom-content-position is-position-top-center" style="margin-top:0;padding-top:5vw;padding-right:5vw;padding-bottom:5vw;padding-left:5vw;font-size:0px;min-height:294px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim" style="background-color:#141414"></span><div class="wp-block-cover__inner-container"><!-- wp:create-block/banner-section -->
<p class="wp-block-create-block-banner-section"><h1 class="wp-block-create-block-banner-section"></h1></p>
<!-- /wp:create-block/banner-section -->

<!-- wp:create-block/banner-section -->
<p class="wp-block-create-block-banner-section"><h1 class="wp-block-create-block-banner-section"></h1></p>
<!-- /wp:create-block/banner-section --></div></div>
<!-- /wp:cover -->