
.navigation {
.has-modal-open {
    max-width: 300px;
    animation: none !important;
    transition: all 500ms;
    padding: 0 15px 0 25px;
    // transform: translateX(-300px);
    @include max-575 {
        max-width: 250px;
        box-shadow: 5px 5px 15px -2px ;
    }
}
}