/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import "../../../../assets/css/variable/variable";

.banner-description {
	margin: 0 ;
	padding: 0 ;

	&__inner {
		margin: 10px 0;
		&_heading {
			h4 {
				font-size: 16px;
				line-height: 16px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 800;
				letter-spacing: -1px;
				margin: 0;
				span {
					color: #00c6ad;
				}
				.change-color {
					color: #1747e7;
				}
			}
		}

		&_description {
			p {
				font-size: 13px;
				line-height: 17px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 600;
				margin: 8px 0 0 0;
			}
		}
		&_img {
			text-align: center;
			padding: 0;
            margin: 0;
		}
	}
}

